<div class="banner home_video">
  <%= video_tag "https://res.cloudinary.com/yuanming91/video/upload/v1615381302/cooking_jzkzxx.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
  <div class="align-items-center">
    <h1 class="home">JIAK</h1>
    <p class="home">A taste of home</p>
    <div class="text-center">
      <%= link_to "Log in", new_user_session_path, class: "btn btn-ghost" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-ghost" %>
    </div>
  </div>
</div>

