<div class="container">
  <div class="row">
    <div class="col-sm">
      <img class="avatar-large" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
      <h3>Chefs</h3>
    </div>
    <div class="col-sm">
      <img class="avatar-large" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
      <h3>Foodies</h3>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          Get more customers for your food
        </div>

        <br>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
          Start your cooking career
        </div>

        <br>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          Earn more income
        </div>
    </div>

    <div class="col-sm">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
          Explore new cuisine
        </div>

        <br>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          Get food delivered to you fast
        </div>

        <br>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
          Fill your stomach with tasty food
        </div>
    </div>
  </div>
</div>


