<p>We got your order !</p>
    <p>
    Order details<br>
    --------------------------
    </p>
    <p>Name: <%= @order.user.name %></p>
    <p>Email: <%= @order.user.email %>!</p>
    <p><%= @order.id %></p>
    
    
    <p>
    Message:<br>
    ----------
    </p>
    