<div class="col-6">
  <div>
    <%= link_to restaurant_path(restaurant), class: "card-link" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        <h3><%= restaurant.name %></h3>
      </div>
    <% end %>
  </div>
</div>
