<h1> ALL RESTAURANTS </h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
</ul>

<p><%= link_to "create new restaurant", new_restaurant_path %></p>