<h1> ALL RESTAURANTS </h1>
<div class="container">
  <div class="row">
    <%= render @restaurants %>
  </div>
</div>
<%= link_to "create new restaurant", new_restaurant_path, class: 'btn btn-primary %>
